.middle-align {
    text-align:center;
}
#wasteSpace {
    background: #f42e6d;
    height:20px;
}
#wasteSpacetext {
    color: yellow;
    text-align: center;
}
button {
    height:30px;
}
#wordEnglishheading {
    height:16px;
}
#englishDisplay {
    height:100px;
}
#piglatinDisplay {
    height:100px;
}
#wordPiglatinheading {
    height:16px;
}