.middle-align {
    text-align:center;
}
#wasteSpace {
    background: #ed1c5a;
    height:20px;
}
#wasteSpacetext {
    color: #ede91c;
    text-align: center;
}
button {
    height:30px;
}
#wordEnglishheading {
    height:16px;
}
#englishDisplay {
    height:100px;
}
#piglatinDisplay {
    height:100px;
}
#wordPiglatinheading {
    height:16px;
}
body {
    background-color:#811ced;
}
